{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Audi</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Audi</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br>August Horch</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/audiinicio.jpg" alt="" />
{% endblock %}

{% block historia %}
<p>Audi es la traducción al latín del apellido de su fundador, August Horch. August Horch (1868-1951), uno de los pioneros de la industria automovilística alemana, fundó en Colonia (Alemania), la empresa de autos Horch en 1899, cuyo primer automóvil comenzó a circular por vías públicas en 1901</p>
{% endblock %}