{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Automóviles</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Automóviles</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br> Ferdinand Porsche</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/vwinicio.jpg" alt="" />
{% endblock %}

{% block historia %}

<form action="{% url 'autosform' %}", method="POST"> {% csrf_token %}
    <p> Auto: <input type="text" name="marca"> </p>
    <p> Color: <input type="text" name="color"> </p>

    <input type="submit", value="Enviar">
</form>

{% endblock %}