{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Automóviles</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Automóviles</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br> Ferdinand Porsche</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/vwinicio.jpg" alt="" />
{% endblock %}

{% block cargar %} 
<h2>Agregar auto nuevo</h2>
{% endblock %}

{% block historia %}
<div style="width: 500px;">
<form action="{% url 'autos' %}", method="POST"> {% csrf_token %}

    <p> Marca: <input type="text" name="marca"> </p>

    <p> Modelo: <input type="text" name="modelo"> </p>

    <p> Color: <input type="text" name="color"> </p>

    <p> Año: <input style="background:rgba(212, 212, 255, 0.035) ;" type="number" name="anio"> </p>
</div>

    <input type="submit", value="Enviar">
</form>

{% endblock %}