{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>BMW</title>

{% endblock %}

{% block tituloinicio %} 
<h1>BMW</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundadores: <br> Karl Rapp, Gustav Otto, Camillo Castiglioni, Franz Josef Popp</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/bminiciocopia.jpg" alt="" /> 
{% endblock %}

{% block historia %}
<p>El significado de BMW es Bayerische Motoren Werke (Fábricas de Motores de Baviera). Se fundó en 1917 a partir de la empresa Rapp Motorenwerke. En 1920 pasó a Knorr-Bremse AG hasta 1922, cuando se refundó como BMW AG. Es la sucesora de Bayerischen Flugzeugwerke AG, fundada en 1916</p>
{% endblock %}