{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Automóviles</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Automóviles</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br> Ferdinand Porsche</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/vwinicio.jpg" alt="" />
{% endblock %}

{% block cargar %} 
<h2>Buscar auto por marca:</h2>
{% endblock %}

{% block historia %}

<div style="width: 500px ;">
    <form action="{% url 'buscar' %}" method="GET"> {% csrf_token %}

        <p>Marca: <input type="text" name="marca", id="marca"></p>
        <h4>{{ mensaje }}</h4>
        <input type="submit", value="Buscar">
    </form>
</div>



{% endblock %}