{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Camiones</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Camiones</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br> Ferdinand Porsche</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/vwinicio.jpg" alt="" />
{% endblock %}

{% block cargar %} 
{{ mensaje }}
<h2>Agrega tu camion preferido:</h2>
{% endblock %}

{% block historia %}
<div style="width: 500px ;">
    <form action="{% url 'camiones' %}" method="POST"> {% csrf_token %}
        <table>

            {{ formulario.as_table }}

        </table>

        <input type="submit", value="Guardar">
    </form>
</div>
{% endblock %}