{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Ferrari</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Ferrari</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundadores:<br>Enzo Ferrari</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/ferrariinicio.jpg" alt="" />
{% endblock %}

{% block historia %}
<p>De la mano de Enzo Ferrari, la Scuderia Ferrari se funda en 1929 en Módena (Italia) para la creación y producción exclusiva de automóviles para carreras. Perteneciente a la marca Alfa Romeo, Enzo trabajó durante en los primeros desarrollos de diseños profesionales como el Alfa Romeo Bimotore.</p>
{% endblock %}