{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Lamborgini</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Lamborgini</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador: <br> Ferruccio Lamborghini</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/lamboinicio.jpg" alt="" />
{% endblock %}

{% block historia %}
<p>El primer Lamborghini fue el 350 GT, luego llegaron el 400 GT y el que sería conocido como el primer superdeportivo: el Miura, que fue presentado en el Gran Premio de Mónaco, diseñado por Marcello Gandini para la casa Bertone. Vendrían luego variantes SV, J y la XQ de carreras.</p>
{% endblock %}