{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Mercedes Benz</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Mercedes Benz</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundadores:<br>Emil Jellinek, Paul Daimler</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/mercedes23.jpg" alt="" />
{% endblock %}

{% block historia %}
<p>La historia de Mercedes Benz comenzó a finales del siglo XIX y está íntimamente ligada al origen mismo del automóvil. Además, está asociada a dos grandes nombres: Karl Benz y Gottlieb Daimler, visionarios que vieron el potencial de un nuevo medio de transporte y comenzaron a trabajar para hacerlo realidad</p>
{% endblock %}
