{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Registrarse</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Registate Ahora! </h1>
{% endblock %}

{% block subtitulo %}
{% endblock %}

{% block imagentitulo %}
{% endblock %}

{% block cargar %} 
{% endblock %}

{% block historia %}

    <h1>Registarse</h1>
    <h3>{{ mensaje }}</h3>
<div style="width: 500px ;">
    <form action="{% url 'register' %}" method="POST"> {% csrf_token %}
        

        {{ form.as_p }}
        <button type="submit" class="button"> Registarse </button>

    </form>
</div>
{% endblock %}

{% block info1 %}
{% endblock %}


{% block nuestrosvehiculos %} 
{% endblock %}

{% block crear %}
{% endblock %}




