{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Resultado de la busqueda</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Automóviles</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br> Ferdinand Porsche</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/vwinicio.jpg" alt="" />
{% endblock %}

{% block cargar %} 


<h2>Resultados:</h2>
{% endblock %}

{% block historia %}

{% if mensaje %}
<h4">{{ mensaje }}</h4>

{% else %}


{% for a in autos %}
<h4>
    <p> Auto encontrado : {{ a.marca }} - Modelo: {{ a.modelo }} - Color: {{ a.color }} - Año {{ a.año }} </p>
</h4>

{% endfor %}
{% endif %}


{% endblock %}