{% extends "AppFinal/landing.html" %}
{% load static %}

{% block titulopagina %} 

<title>Volksawgen</title>

{% endblock %}

{% block tituloinicio %} 
<h1>Volkswagen</h1>
{% endblock %}

{% block subtitulo %}
<p>Fundador:<br> Ferdinand Porsche</p>
{% endblock %}

{% block imagentitulo %}
<img src="/static/AppFinal/assets/images/vwinicio.jpg" alt="" />
{% endblock %}

{% block historia %}
<p>La fábrica de automóviles Volkswagen está vinculada en su origen con el ingeniero austríaco Ferdinand Porsche, quien en 1930 fundó en Stuttgart un negocio con el objeto de fabricar un coche pequeño y barato para Alemania.</p>
{% endblock %}